@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Jal_Onuel';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* { margin: 0; padding: 0; }

p{
  letter-spacing: -0.15em;
}
body{
  font-family: 'GmarketSansMedium';
}
a:link {
  text-decoration: none;
  color: black; /*기존 색상코드 #999696; > 블랙으로 수정*/
}
a:visited {
  text-decoration: none;
  color: #999696; 
}
a:active {
  text-decoration: none;
  color: #999696;
}
a:hover {
  text-decoration: underline;
  color: #bfbcbc;
}

.basic_form {
  background-color: #ffffff; /*기존 색상코드 242424 > 화이트로 수정*/
  margin-top: 2%;
  padding-left: 17.7%;
  padding-right: 17.7%;
  overflow: hidden;
}

.webtoon_container {
  width: 12%;
  float: left;
  padding-left: 2.5%;
  padding-bottom: 5%;
}

.main_name {
  font-family: 'Rajdhani', sans-serif; /*기존 폰트 "Sunflower" > "Rajdhani"로 수정*/
  letter-spacing: 0.1em;
}

.top_display_title_contain {  
  /*최상단 검은색 바 컨테이너*/
  font-family: 'Jal_Onuel', sans-serif;
  background-color: #000000;
  perspective: 1000px;
  height: 45px;
  max-width: 100%;
  position: relative;
  margin:0px;
}

.top_display_info1 {
  /*최상단 검은색 바 컨테이너에 들어가는 텍스트*/
  position: absolute;
  left:50%;
  top:50%;
  font-size:23px;
  transform:translate(-50%,-50%);
}

.top_display_menu_contain {
  /*최상단 바 밑에 들어가는 메뉴 컨테이너*/
  font-family: 'Jal_Onuel', sans-serif;
  background-color: #ffffff;
  perspective: 1000px;
  height: 125px;
  max-width: 100%;
  position: relative;
  margin:0px;
}

.top_display_menu_info {
  /*최상단 바 밑에 들어가는 메뉴 컨테이너에 들어가는 텍스트*/
  position: absolute;
  left:25%;
  top:50%;
  transform:translate(-50%,-50%);
  font-size: 30px;
  letter-spacing: -0.05em;
}

.top_display_menu_contain2 {
  /*최상단 바 밑에 들어가는 메뉴 컨테이너*/
  font-family: 'Jal_Onuel', sans-serif;
  background-color: white;
  perspective: 1000px;
  height: 150px;
  max-width: 100%;
  position: relative;
  margin:0px;
}

.top_display_menu_info2 {
  /*최상단 바 밑에 들어가는 메뉴 컨테이너에 들어가는 텍스트*/
  position: relative;
  top:50%;
  left:40%;
  transform:translate(0%,100%);
  font-size: 30px;
  letter-spacing: -0.05em;
}



/* .webtoon_img {
  width: 100%;
  object-fit: cover;
  border: #181818;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
}

.webtoon_img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  overflow: hidden;
} */

.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 95%;
  overflow: hidden;
}

.webtoon_info {
  line-height: 125%;
}

.square .icon {
  position: absolute;
  top: 13%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/*메뉴*/

.main-menu > li {
  float: left;
  position: relative;
  top:50%;
  left:40%;
  transform:translate(0%,100%);
  font-family: 'Jal_Onuel', sans-serif;
}

.main-menu > li > a {
  font-size: 0.85rem;
  color: black;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.sub-menu {
  position: absolute;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

.sub-menu > li {
  padding: 16px 28px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.sub-menu > li >  a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

.sub-menu > li >  a:hover {
 text-decoration: underline;
}

section {
  column-width: 15em;
  background: #dadadf;
  padding: 2em 12em;
}