body {
  background-color: #181818;
  padding: 0%;
}

.basic_form {
  background-color: #242424;
  margin-top: 2%;
  padding: 2% 2%;
  border-radius: 5px;
  overflow: hidden;
}

.webtoon_container {
  width: 30%;
  float: left;
  padding-left: 2.5%;
  padding-bottom: 10%;
}

/* .webtoon_img {
  width: 100%;
  object-fit: cover;
  border: #181818;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
}

.webtoon_img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  overflow: hidden;
} */

.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 95%;
  overflow: hidden;
}

.webtoon_info {
  line-height: 80%;
}

.square .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
  z-index: 2;
  text-align: center;
}
