body {
  background-color: #181818;
  padding: 0%;
}

.basic_form {
  background-color: #242424;
  margin-top: 2%;
  padding: 2% 2%;
  border-radius: 5px;
  overflow: hidden;
}
.webtoon_img {
  width: 25%;
  object-fit: cover;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 3%;
  border: #181818;
}
